{# Console.html. Central page for operators  #}
{% load render_table from django_tables2 %}
{% load static %}
<!doctype html>
<html>
    <head>
    <title>
	Operator Console
    </title>
 	<link rel="stylesheet" href="{% static 'paleblue/css/screen.css' %}" type="text/css" />
    <meta http-equiv="refresh" content="120">
    </head>
    <body>
	<h2>Tracking</h2>
	{% block volunteercontent %}
                <form action="" method="get">
                        {{ vol_filter.form.as_p }} <input type="Submit" />
                </form>
        {% endblock %}
	<br/>
        {% render_table tracking %}
    </body>
</html>
