{# Sos.html. Sos page for operators  #}
{% load render_table from django_tables2 %}
{% load static %}
<!doctype html>
<html>
    <title>
	SOS Console
    </title>
    <head>
	<link rel="stylesheet" href="{% static 'paleblue/css/screen.css' %}" type="text/css" />
    </head>
    <body>
	<h2>SOS</h2>
	{% block soscontent %}
                <form action="" method="get">
                        {{ sos_filter.form.as_p }} <input type="Submit" />
                </form>
        {% endblock %}
	<br/>
	<br/>
	{% render_table sos %}
    </body>
</html>
